@import "../../style/utils/variables";
@import "../../style/utils/functions";
@import "../../style/utils/mixins";

.container {
  display: inline-block;

  width: 10px;
  height: 10px;

  border-radius: 50px;
  background-color: $success-color;
}

.missed {
  background-color: $error-color;
}
